<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="ios-apps"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="credit">
      <ion-icon name="ios-card"></ion-icon>
      <ion-label>Credit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="ios-cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="ios-person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>